<app-menu-bar [title]="title"></app-menu-bar>

<div class="container mt-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button class="btn btnretour mb-2" data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal">
            <span class="iconBack" (click)="goback()"> <i class="bi bi-arrow-left"></i> Retour </span>
            
        </button>
    </div>
       
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <div class="card" >
      <!-- <h4 class="card-title">
        Titre: &nbsp;  {{detailCours.titre}}
      
      </h4> -->
        <!-- <img src={{detailCours.image}} class="card-img-top" alt="..."> -->
        <div class="card-body">
          <!-- <h5 class="card-sub-title">
            Titre: &nbsp;  {{detailCours.titre}}
          </h5> -->
          <!-- <h6 class="card-sub-title">
            Description 
          </h6> -->
          <img src={{detailCours.description}} class="card-img-top" alt="...">
          <!-- <p class="card-text">
            {{detailCours.description}}
          </p> -->
        </div>
      </div>
  </div>
  <div class="col-md-1">

  </div>
</div>

</div>