<app-menu-bar [title]="title"></app-menu-bar>

<div class="container mt-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button class="btn btnretour mb-2" data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal">
            <span class="iconBack" (click)="goback()"> <i class="bi bi-arrow-left"></i> Retour </span>
            
        </button>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="{{adminById.image}}" width="auto" class="img-fluid imageDetailU" alt="nom de l'utilisateur">
                    </div>
                    <div class="col-md-10">
                        <table>
                            <tr>
                                <th>Prénom :</th>
                                <td> {{adminById.prenom}} </td>
                            </tr>
                            <tr>
                                <th>Nom : </th>
                                <td> {{adminById.nom}} </td>
                            </tr>
                            <tr>
                                <th>E-mail : </th>
                                <td> {{adminById.email}} </td>
                            </tr>
                            <tr>
                                <th>Téléphone : </th>
                                <td> {{adminById.telephone}} </td>
                            </tr>
                            <!-- <tr>
                                <th>Date d'inscription : </th>
                                <td>23-12-1999</td>
                            </tr> -->
                        </table>
                     
                    </div>
                  </div>
                </div>
              </div>  
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
      
</div>
