<app-menu-bar [title]="title"></app-menu-bar>

<div class="container mt-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button class="btn btnretour mb-2" data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal">
            <span class="iconBack" (click)="goback()"> <i class="bi bi-arrow-left"></i> Retour </span>
            
        </button>
    </div>
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <img src="../../../assets/image/profil3.png" width="auto" class="img-fluid imageDetailU" alt="nom de l'utilisateur">
            </div>
            <div class="col-md-10">
                <table>
                    <tr>
                        <th>Prénom :</th>
                        <td>Idrissa</td>
                    </tr>
                    <tr>
                        <th>Nom : </th>
                        <td>Dembele</td>
                    </tr>
                    <tr>
                        <th>E-mail : </th>
                        <td>iddembele206@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Téléphone : </th>
                        <td>+223 83252448</td>
                    </tr>
                    <tr>
                        <th>Date d'inscription : </th>
                        <td>23-12-1999</td>
                    </tr>
                </table>
             
            </div>
          </div>
        </div>
      </div>    
</div>
