<app-menu-bar [title]="title"></app-menu-bar>

<div class="container mt-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button class="btn btnretour mb-2" data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal">
            <span class="iconBack" (click)="goback()"> <i class="bi bi-arrow-left"></i> Retour </span>
            
        </button>
    </div>
       
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <div class="card" >
      <h4 class="card-title">
        Thème: &nbsp;  {{detailPanneaux.typePanneaux.titre}}
      
      </h4>
        <img src={{detailPanneaux.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-sub-title">
            Titre: &nbsp;  {{detailPanneaux.nom}}
          </h5>
          <h6 class="card-sub-title">
            Description: 
          </h6>
          <p class="card-text">
            {{detailPanneaux.description}}
          </p>
          <h6 class="card-sub-title">
            Audio: 
          </h6>
          <p class="card-text">
            <audio controls autoplay muted>
                <source src={{detailPanneaux.vocal}} type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
          </p>
        </div>
      </div>
  </div>
  <div class="col-md-1">

  </div>
</div>

</div>