<div class=" px-1 px-md-5 px-lg-1 px-xl-5 py-3 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row">
                        <img src="../assets/logo/logo.png" class="logo">
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="../assets/image/login_image.gif" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <form class="row needs-validation container"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="row mb-4 px-3">
                            <h3 class="mb-0 mr-4 mt-2 text-center">Connexion</h3>
                            <!-- <div class="facebook text-center mr-3"><div class="fa fa-facebook"></div></div>
                            <div class="twitter text-center mr-3"><div class="fa fa-twitter"></div></div>
                            <div class="linkedin text-center mr-3"><div class="fa fa-linkedin"></div></div> -->
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="line"></div>
                            <!-- <small class="or text-center"></small> -->
                            <div class="line"></div>
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm" for="username">Nom d'utilisateur</h6>
                            </label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                                #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
                            <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
                                Nom d'utilisateur est obligatoire!
                            </div>
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Mot de passe</h6>
                            </label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                                minlength="6" #password="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
                            <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                                <div *ngIf="password.errors['required']">Mot de passe est obligatoire</div>
                                <div *ngIf="password.errors['minlength']">
                                    Le mot de passe doit avoir au moins 6 caractères
                                </div>
                            </div>
                        </div>
                        <div class="row px-3 mb-4">
    
                            <a href="#" class="ml-auto mb-0 text-sm">Mot de passe oublié?</a>
                        </div>
                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn btn-blue text-center">Connecter</button>
                        </div>
                        <div class="form-group">
                            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                                 Connexion echoué {{ errorMessage }} 
                            </div>
                        </div>
                        <div class="row mb-4 px-3">
                            <small class="font-weight-bold">Vous n'avez pas de compte? <a
                                    class="text-danger ">Inscrire</a></small>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <!-- <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2019. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto">
                    <span class="fa fa-facebook mr-4 text-sm"></span>
                    <span class="fa fa-google-plus mr-4 text-sm"></span>
                    <span class="fa fa-linkedin mr-4 text-sm"></span>
                    <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
                </div>
            </div>
        </div> -->
    </div>
</div>