<div class="row">
    <div class="col-6">
        <!-- <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins">
        </canvas>
        <br> -->
        <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
            [plugins]="barChartPlugins" [type]="barChartType">
        </canvas>

        <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
    </div>
    <div class="col-6">
        
    </div>
</div>
