<!--Menu -->

<app-menu-bar [title]="title" ></app-menu-bar>

<!--Fin Menu-->

<!--DEBUT STATISTIQUE SOUS FORME DE CARD-->
<!-- <div class="jumbotron mt-3">
  <div class="row w-100">

    <div class="col m-2">
      <div class="card card1 shadow border-primary mx-sm-1 p-3 border border-5" style="height: 100% ;">
        <div class="card border-primary  text-danger p-3 my-card"><img src="../../../assets/Icon/vehicules.png" height="20"
                                                                       alt="image montrant le nombre total de liste">
        </div>
        <div class="text-primary text-center mt-5">
          <h4>Nombre d'auto-ecoles</h4>
        </div>
        <div class="text-primary text-center mt-2">
          <h1>78</h1>
        </div>
      </div>
    </div>
    <div class="col m-2">
      <div class="card card1 shadow border-primary border border-5 mx-sm-1 p-3" style="height: 100% ;">
        <div class="card border-primary shadow text-warning p-3 my-card"><img src="../../../assets/Icon/vehicules.png"
                                                                              height="20"
                                                                              alt="image montrant le nombre de liste tiré"
                                                                              srcset=""></div>
        <div class="text-primary text-center mt-5">
          <h4>Nombre d'utilisateurs</h4>
        </div>
        <div class="text-primary text-center mt-2">
          <h1>55</h1>
        </div>
      </div>
    </div>
    <div class="col m-2">
      <div class="card card1 shadow border-primary mx-sm-1 p-3 border border-5" style="height: 100% ;">
        <div class="card border-primary  text-primary p-3 my-card"><img src="../../../assets/Icon/vehicules.png"
                                                                        height="20"
                                                                        alt="image montrant le nombre total de liste">
        </div>
        <div class="text-primary text-center mt-5">
          <h4>Nombre de quiz</h4>
        </div>
        <div class="text-primary text-center mt-2">
          <h1>23</h1>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="row w-100 mb-3">
  <div class="col-md-4">
    <div class="card m-1 mt-4 w-100">
      <div class=" d-flex justify-content-center">
        <img class="imag" src="../../../assets/logo/cours_conduite.png" alt="" srcset="">
      </div>
      <div class="contenu">
        Nombre de cours Ouverts
        <br>
        <span>
          {{allCoursLength}}
        </span>
        
      </div>
    </div>

    <div class="card m-1 mt-4 w-100">

      <div class="d-flex justify-content-center">
        <img class="imag" src="../../../assets/logo/quiz1.png" alt="" srcset="">
      </div>
      <div class="contenu">
        Nombre de quiz
        <br>
        <span>
          {{allQuizLength}}
        </span>
        
      </div>
    </div>

    <div class="card m-1 mt-4 w-100">
      <div class=" d-flex justify-content-center">
        <img class="imag"  src="../../../assets/logo/users.png" alt="" srcset="">
      </div>
      <div class="contenu">
        Nombre d'utilisateur
        <br>
        <span>
          {{allApprenant + allAdmin}}
        </span>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="map-container m-2" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"
      >
    </div>
  </div>
</div>

 <div class="row w-100 mt-1 ">
  
  <div class="col-md-12">
    
    <div class="mat-elevation-z m-2">
      <h5>
        La listes des apprenants connectés
      </h5>
      <table class="table">
          <thead>
              <tr>
                  
                  <th scope="col">Username</th>
                  <th scope="col">Telephone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody class="table-group-divider">
    
              <tr *ngFor="let user of allUserConnected">
                  
                  <td> {{user.username}} </td>
                  <td> {{user.telephone}} </td>
                  <td> {{user.email}} </td>
                  <td>
                      <div class="row">
    
                          <div class="col-sm-2 col-md-4 mb-1">
                              <span class="btn">
                                  <i class="bi bi-pencil-square"></i>
                              </span>
                          </div>
                          <div class="col-sm-2 col-md-4">
                              <span class="btn">
                                  <i class="bi bi-trash-fill"></i>
                              </span>
    
                          </div>
                      </div>
                  </td>
              </tr>
    
          </tbody>
      </table>
    </div>
  </div>
</div>